Options -Indexes
RewriteEngine On

# Existierende Dateien und Verzeichnisse unverändert lassen
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# /forderungsaufstellung → forderungsaufstellung.html etc.
RewriteRule ^([^./]+)$ $1.html [L]
